html, body {
    height: 100%; /* Ensures the background covers the entire screen */
    margin: 0;    /* Removes any default margin */
}

body {
    background-image: url('https://i.pinimg.com/736x/c7/6c/54/c76c549d54dccff9bc91eee43cdd8d0b.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.container {
    margin-top: 50px;
}
.card {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 15px;
}
#titanImage {
    border-radius: 10px;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

/* Text Styling */
.text-container .h3, 
.text-container .h5 {
    margin: 10px 0;
    text-align: left;
    font-weight: bold;
}

.text-container .h3 {
    font-size: 1.8em;
}

.text-container .h5 {
    font-size: 1.2em;
}

/* Media Queries */
@media (max-width: 768px) {
    body {
        background-image: url(https://i.pinimg.com/736x/04/32/6e/04326ee30ed5ca2219ef14b1e67561cf.jpg);
    }
    
    .card {
        padding: 15px;
        margin: 15px;
    }

    .imgContainer {
        width: 90%; 
    }

    .btn-secondary {
        width: 50%;
        padding: 12px; 
    }

    .form-control {
        width: 100%;
    }

    .text-container {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .btn-secondary {
        width: 70%;
        font-size: 14px;
    }

    .form-control {
        font-size: 14px;
    }

    .text-container .h3 {
        font-size: 1.5em;
    }

    .text-container .h5 {
        font-size: 1em;
    }
}
